<div class="Container">
    <div class="Caixa">
        <div class="Heder">
            <h1 id="titulo">{{frase}}</h1>
            <button class="Botao" (click)="sair()">X</button>
        </div>
        <div class="Conteudo">
            <div class="Item" *ngFor="let car of carros">
                <p>Modelo: {{car.automoveis.modelo}} | Preço: R$ {{car.automoveis.valor}}</p>
                <button class="BotaoVender" (click)="vender(car.automoveis.id, car.concessionariaId)">Vender</button>
            </div>
        </div>
    </div>
</div>

