<div class="Container">
    <div class="Caixa">
        <div class="Heder">
            <h1>Área 10</h1>
            <button class="Botao" (click)="sair()">X</button>
        </div>
        <div class="Conteudo">
            <div class="Item">
                <p>Modelo: XYZ | Preço: R$ xxx.xxx,xx</p>
                <button class="BotaoVender" (click)="vender()">Vender</button>
            </div>
            <div class="Item">
                <p>Modelo: XYZ | Preço: R$ xxx.xxx,xx</p>
                <button class="BotaoVender" (click)="vender()">Vender</button>
            </div>
            <div class="Item">
                <p>Modelo: XYZ | Preço: R$ xxx.xxx,xx</p>
                <button class="BotaoVender" (click)="vender()">Vender</button>
            </div>
            <div class="Item">
                <p>Modelo: XYZ | Preço: R$ xxx.xxx,xx</p>
                <button class="BotaoVender" (click)="vender()">Vender</button>
            </div>
            <div class="Item">
                <p>Modelo: XYZ | Preço: R$ xxx.xxx,xx</p>
                <button class="BotaoVender" (click)="vender()">Vender</button>
            </div>
        </div>
    </div>
</div>

