.Container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
}

.Caixa{
    width: 600px;
    height: 400px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.Heder{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #7814FF;

    h1{
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Botao{
        width: 20px;
        height: 20px;
        color: #7814FF;
    }

    .Botao:hover{
        cursor: pointer;
        color: #7814FF;
    }
}

.Conteudo{
    display: flex;
    flex-direction: column;
}

.Item{
    display: flex;
    flex-direction: row;
    width: 93%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    justify-content: space-between;
    color: #7814FF;
}

.Drop{
    width: 70%;
}

.botao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.BotaoConfirmar{
    width: 80px;
    background-color: #7814FF;
    color:#FFF;
    border-radius: 5px;
}

.BotaoConfirmar:hover{
    cursor: pointer;
}